<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery/smoothness/jquery-ui-1.8.13.css" type="text/css" media="all" />
	{% block extra_head %}{% endblock extra_head %}
	<title>{% block title %}{% endblock title %}</title>
</head>
<body>
	{% block header %}{% endblock header %}
	{% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
	{% block jsfooter %}
	{# ONLY FOR LOCAL DEVELOPMENT #}
	<script src="{{ STATIC_URL }}js/jquery/jquery-1.6.1.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/jquery/jquery-ui-1.8.13.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		// Hello jQuery!
	});
	</script>
	{% endblock jsfooter %}        
</body>
</html>